{% load staticfiles %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
    {% endblock meta %}

        <link href="{% static 'complaint/css/bootstrap.min.css' %}" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <link href="{% static 'complaint/css/index.css' %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script><!--dropdown addon-->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block pagecss %}
    {% endblock %}
    <title>{% block title %}Title{% endblock %}</title>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1165100126911461";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<nav class="navbar navbar-default navbar-fixed-top" >
    <div class="container-fluid" >
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/" style="color: #fff;">Ashray</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar" style="color: #000;">
            <ul class="nav navbar-nav navbar-right" style="font-weight:bold;">
                <li><a href="/" style="color: #fff;">Home</a></li>
                <li><a href="#" style="color: #fff;">Archives</a></li>
                <li><a href="#" style="color: #fff;">What we do</a></li>
                <li><a href="#" style="color: #fff;">Initiative</a></li>
                {% if request.user.is_superuser %}
                {% endif %}
                {% if not request.user.is_authenticated %}
                    <li><a href="{% url 'user:login' %}" style="color: #fff;">Sign in</a></li>
                    <li><a href="{% url 'user:signup' %}" style="color: #fff;">Sign Up</a></li>
                {% else %}
                    <li class="dropdown">

                        <a class="dropdown-toggle" data-toggle="dropdown" style="color:white;" href="#">Profile
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu" style="background-color:black;color:white;">
                          <li><a href="" style="color:white;">View Profile</a></li>
                          <li><a href="" style="color:white;">Update Profile</a></li>
                          <li><a href="" style="color:white;">Create StartUp</a></li>
                          <li><a href="{% url 'user:logout' %}" style="color:white;">SignOut</a></li>
                        </ul>
                     </li>
                {% endif %}
                {% if request.user.is_superuser %}
                <li><a href=""><input type="button" class="primary" value="write a blog" /></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% block content %}
{% endblock %}
<div class="feed" style="background-color: rgba(160,160,160,1);
box-shadow: 0 0 1px rgba(0,0,0,.07);
bottom: 0;
margin-bottom: 5px;
font-size: 11px;
color: rgba(255,255,255,1);
cursor: pointer;
outline: 0;
text-align: center;
padding: 5px 10px;
position: fixed;
right: 0;
z-index: 902;">
    Feedback
</div>
<footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <div id="map" class="col-md-12" style="height:300px"></div>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>About Ashray</h3>
                        <p>MBM Engineering College ,Jodhpur<a href="http://www.mbm.ac.in">ChecK Ashray</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy;  team_mbm ,2017
                    </div>
                </div>
            </div>
        </div>
</footer>



<script>
function myMap() {
var mapOptions = {
    center: new google.maps.LatLng(26.268569, 73.035395),
    zoom: 17,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
}
var map = new google.maps.Map(document.getElementById("map"), mapOptions);
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXIkDZVwrgA7zv9i3QvwxSfkWV8B-OMLo&callback=myMap"></script>
</body>

<script>
    {% block js_script %}
    {% endblock %}
</script>

</html>