{% extends "complaint/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
    SignUp
{% endblock %}

{% block content %}
<section style="min-height:100%;">
<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 container" style="margin-top: 100px;">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title text-center">
        <h1>Sign Up</h1>
        <p>Already have an account? Then please <a href="{% url 'user:login' %}">sign in</a>.</p>
      </div>
    </div>
    <div class="panel-body">
        <form method="post" action="{% url 'user:signup' %}">{% csrf_token %}
                <div class="form-group">
                    <b>First Name*</b><input class="form-control" name="firstname" type="text" value="{{ x.firstname }}" placeholder="First name" required>
                </div>
                <div class="form-group">
                    <b>Last Name*</b><input class="form-control" name="lastname" type="text" value="{{ x.lastname }}" placeholder="Last name" required>
                </div>
                <div class="form-group">
                    <b>Email*</b><input class="form-control" name="email" type="email" value="{{ x.email }}" placeholder="Email" required>
                </div>
                <div class="form-group">
                    <b>Password*</b><input class="form-control" name="password" type="password" placeholder="Password" required>
                </div>
                <div class="form-group">
                    <b>Password(again)*</b><input class="form-control" name="password1" type="password" placeholder="Password(again)" required>
                </div>

            <input type="submit" class="btn btn-primary" value="Sign Up">
        </form>
    </div>
      {{ message }}
  </div>
</div>
</section>
{% endblock %}